<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta charset="UTF-8">-->
    <th:block th:include="fragments/header :: headerinc"></th:block>
    <link href="../../static/css/bootstrap.min.css" />
</head>
<body>

<h3>User Login</h3>

<form action="#" th:action="@{/user/login}" th:object="${user}" method="post">
    <p>Account Name: </p> <input type="text" th:field="*{accountname}"/>
    <p>Password: </p> <input type="password" th:field="*{password}"/>

    <p/><input type="submit" value="Login" />
</form>

<!--<div th:if="${message!=null}">-->
    <!--<p/>-->
    <!--<span th:text="${message}"/>-->
<!--</div>-->

<div th:if="${type != null}" th:include="fragments/alert :: alert (type=${type}, message=${message})" />

</body>
</html>