<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta charset="UTF-8">-->
    <title>User Update</title>
</head>
<body>

<div th:include="fragments/header :: header"></div>

<h3>User Update</h3>

<form action="#" th:action="@{/user/update}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>First Name: </p> <input type="text" th:field="*{firstname}"/>
    <p>Last Name: </p> <input type="text" th:field="*{lastname}"/>
    <p>Password: </p> <input type="text" th:field="*{password}"/>

    <p/><input type="submit" value="Update" />
</form>

</body>
</html>